
esphome:
  name: sat1-ethernet
  #name_add_mac_suffix: true
  friendly_name: Satellite1 Ethernet
  min_version: 2025.12.0
  
  platformio_options:
    board_build.flash_mode: dio
    board_upload.maximum_size: 16777216

esp32:
  board: esp32-s3-devkitc-1
  variant: ESP32S3
  flash_size: 16MB
  framework:
    type: esp-idf




ethernet:
  type: W5500
  cs_pin: GPIO3
  clk_pin: GPIO12
  mosi_pin: GPIO11
  miso_pin: GPIO13

logger:
  deassert_rts_dtr: true
  hardware_uart: USB_SERIAL_JTAG
  level: debug
  logs:
    ltr_als_ps: WARN
