substitutions:
  company_name: FutureProofHomes
  project_name: Satellite1

  #set this version by GHA at build time
  esp32_fw_version: dev

packages:
  # This is an inline package to prefix the on_client_connected with the wait_until action
  # It must appear before the actual package so it becomes the original config and the
  # on_client_connected list from the package config is appended onto this one.
  va_connected_wait_for_ble_and_flasher:
    satellite1:
      on_xmos_connected:
        then:
          - delay: 1s
          - script.execute: control_leds

  home-assistant-voice: !include satellite1.base.yaml


esphome:
  project:
    name: ${company_name}.${project_name}
    version: ${esp32_fw_version}



external_components:
  - source:
      type: local
      path: ../esphome/components
    components: [ i2s_audio, satellite1, memory_flasher, tas2780, pcm5122, fusb302b, improv_serial, online_testing ]


logger:
  deassert_rts_dtr: true
  hardware_uart : USB_SERIAL_JTAG
  level: debug


online_testing:
  id: mic_tester
  microphone: asr_mic
  media_file: audio_test_sweep
  on_detected:
    then:
      - logger.log: "Sweep detected"
      - improv_serial.send_action_status:
          action: "SWEEP_DETECTED"
          status: 0
      
improv_serial:
  on_action:
    then:
      - if:
          condition:
            lambda: return x.get_action() == std::string("RESET_XMOS");
          then:
            - satellite1.xmos_hardware_reset:
      - if:
          condition:
            lambda: return x.get_action() == std::string("ERASE_XMOS_FLASH");
          then:
            - memory_flasher.erase:

      - if:
          condition:                                      
            lambda: return x.get_action() == std::string("FLASH_XMOS_EMBEDDED");
          then:
            - memory_flasher.write_embedded_image:

      - if:
          condition:                                      
            lambda: return x.get_action() == std::string("READ_XMOS_FIRMWARE");
          then:
            - logger.log: "Reading XMOS firmware version via SPI"
            - satellite1.xmos_read_firmware

      - if:
          condition:                                      
            lambda: return x.get_action() == std::string("ENABLE_LED_RING");
          then:
            - logger.log: "Enable full led ring with color: white"
            - light.turn_on:
                id: voice_assistant_leds
                brightness: 33%
                red: 100%
                green: 100%
                blue: 100%
                effect: None

      - if:
          condition:                                      
            lambda: return x.get_action() == std::string("DISABLE_LED_RING");
          then:
            - light.turn_off:
                id: voice_assistant_leds

      - if:
          condition:                                      
            lambda: return x.get_action() == std::string("LOG_CURR_TEMP_HUMIDITY");
          then:
            - logger.log:
                format: "The AHT20 reports temperature %.1f and humidity %.1f"
                args: [ 'id(temperature_sensor).state', 'id(humidity_sensor).state' ]
      
      - if:
          condition:                                      
            lambda: return x.get_action() == std::string("LOG_CURR_LIGHT_SENSOR");
          then:
            - logger.log:
                format: "The light sensor reports: %.1f"
                args: [ 'id(ambient_light).state' ]


      - if:
          condition:                                      
            lambda: return x.get_action() == std::string("PLAY_SWEEP_SOUND");
          then:
            - script.execute:
                id: play_sound
                priority: false
                sound_file: !lambda return id(audio_test_sweep);
      
      
      - if:
          condition:                                      
            lambda: return x.get_action() == std::string("SET_TO_LINE_OUT");
          then:
            - logger.log: "Activate line-out DAC" 
            - delay: 500ms
            - lambda: |-
                id(dac_proxy).activate_line_out();
      
      - if:
          condition:                                      
            lambda: return x.get_action() == std::string("ENABLE_SWEEP_DETECTED_LEFT");
          then:
            - logger.log: "Starting audio sweep detection on Comm Mic" 
            - delay: 500ms
            - lambda: |-
                if (id(mic_tester).is_running()) {
                  id(mic_tester).request_stop();  // Stop current stream
                  delay(500);  // Wait for stream to stop
                }
                id(mic_tester).set_microphone(id(asr_mic));  // Set Comm mic
                id(mic_tester).request_start(true);  // Start stream with Comm mic
      
      - if:
          condition:                                      
            lambda: return x.get_action() == std::string("DISABLE_SWEEP_DETECTED_LEFT");
          then:
            - logger.log: "Turning off audio sweep detection on Comm Mic"
            - lambda: |-
                if (id(mic_tester).is_running()) {
                  id(mic_tester).request_stop();  // Stop the stream when Comm mic is turned off
                }
                
      - if:
          condition:                                      
            lambda: return x.get_action() == std::string("ENABLE_SWEEP_DETECTED_RIGHT");
          then:
            - logger.log: "Starting audio sweep detection on ASR Mic" 
            - delay: 500ms
            - lambda: |-
                if (id(mic_tester).is_running()) {
                  id(mic_tester).request_stop();  // Stop current stream
                  delay(500);  // Wait for stream to stop
                }
                id(mic_tester).set_microphone(id(comm_mic));  // Set ASR mic
                id(mic_tester).request_start(true);  // Start stream with ASR mic
      
      - if:
          condition:                                      
            lambda: return x.get_action() == std::string("DISABLE_SWEEP_DETECTED_RIGHT");
          then:
            - logger.log: "Turning off audio sweep detection on Comm Mic"
            - lambda: |-
                if (id(mic_tester).is_running()) {
                  id(mic_tester).request_stop();  // Stop the stream when Comm mic is turned off
                }

      
      - if:
          condition:                                      
            lambda: return x.get_action() == std::string("XMOS_SEND_RANDOM");
          then:
            - logger.log: "Sending random SPI frame to XMOS"
            - satellite1.xmos_send_random_frame
