globals:
  # Global variable tracking if the volume button was recently touched.
  - id: volume_buttons_touched
    type: bool
    restore_value: no
    initial_value: 'false'
  
  # Global variable tracking if the action button was recently touched.
  - id: action_button_touched
    type: bool
    restore_value: no
    initial_value: 'false'
  
  - id: factory_reset_requested
    type: bool
    restore_value: no
    initial_value: 'false'

event:
  # Event entity exposed to the user to automate on complex action button presses.
  # The simple press is not exposed as it is used to control the device itself.
  - platform: template
    id: action_button_press_event
    name: "Action Button Press"
    icon: mdi:button-pointer
    device_class: button
    event_types:
      - single_press
      - double_press
      - triple_press
      - long_press


binary_sensor:
  - platform: gpio
    id: btn_up
    pin:
      satellite1: 
      port: INPUT_A
      pin: 0
      inverted: true
    name: "Button Up (Vol+)"
    icon: "mdi:volume-plus"
    on_press:
      then:
        - logger.log: "Button Up - pressed" 
  
  - platform: gpio
    id: btn_down
    pin:
      satellite1: 
      port: INPUT_A
      pin: 2
      inverted: true
    name: "Button Down (Vol-)"
    icon: "mdi:volume-minus"
    on_press:
      then:
        - logger.log: "Button Down - pressed" 
  
  - platform: gpio
    id: btn_left
    pin:
      satellite1: 
      port: INPUT_A
      pin: 3
      inverted: false
    name: "Button Left (HW Mute)"
    icon: "mdi:microphone-off"
    on_state:
      then:
        - logger.log: "Button Left - pressed" 

  - platform: gpio
    id: btn_action
    pin:
      number: 0
      inverted: true
      mode:
        input: true
        pullup: true
      ignore_strapping_warning: true
    name: "Button Right (Action)"
    icon: "mdi:gesture-tap"
    on_press:
      - logger.log: "Button Right - pressed" 
    
      
    on_multi_click:  
      # Factory Reset Warning
      #  . Audible and Visible warning.
      - timing:
          - ON for at least 10s
        then:
          - if:
              condition:
                lambda: return !id(action_button_touched);
              then:
                - light.turn_on:
                    brightness: 100%
                    id: voice_assistant_leds
                    effect: "Factory Reset Coming Up"
                - script.execute:
                    id: play_sound
                    priority: true
                    sound_file: !lambda return id(factory_reset_initiated_sound);
                - wait_until:
                    binary_sensor.is_off: btn_action
                - light.turn_off: voice_assistant_leds
                - script.execute:
                    id: play_sound
                    priority: true
                    sound_file: !lambda return id(factory_reset_cancelled_sound);
      
      # Factory Reset
      - timing:
          - ON for at least 22s
        then:
          - if:
              condition:
                lambda: return !id(action_button_touched);
              then:
                - if:
                    condition:
                      - lambda: return id(xflash).flash_accessible();
                    then:
                      - lambda: id(factory_reset_requested) = true;
                      - memory_flasher.erase:
                    else:
                      - button.press: factory_reset_button
                

