number:
  - platform: template
    name: Volume Range Min
    id: vol_rng_min
    mode: "slider"
    optimistic: true
    min_value: 0
    max_value: 1.
    step: .05
    initial_value: .3
    on_value:
      then:
        - tas2780.update_config:
            vol_range_min: !lambda "return x;"

  - platform: template
    name: Volume Range Max
    id: vol_rng_max
    mode: "slider"
    optimistic: true
    min_value: 0
    max_value: 1.
    initial_value: 1.
    step: .05
    on_value:
      then:
        - tas2780.update_config:
            vol_range_max: !lambda "return x;"