substitutions:
  # Phases of the Voice Assistant
  # The voice assistant is ready to be triggered by a wake word
  voice_assist_idle_phase_id: '1'
  # The voice assistant is waiting for a voice command (after being triggered by the wake word)
  voice_assist_waiting_for_command_phase_id: '2'
  # The voice assistant is listening for a voice command
  voice_assist_listening_for_command_phase_id: '3'
  # The voice assistant is currently processing the command
  voice_assist_thinking_phase_id: '4'
  # The voice assistant is replying to the command
  voice_assist_replying_phase_id: '5'
  # The voice assistant is not ready
  voice_assist_not_ready_phase_id: '10'
  # The voice assistant encountered an error
  voice_assist_error_phase_id: '11'
  # The voice assistant is currently disabled
  voice_assist_disabled_phase_id: '12'

globals:
  # Global variable tracking the phase of the voice assistant (defined above). Initialized to not_ready
  - id: voice_assistant_phase
    type: int
    restore_value: no
    initial_value: ${voice_assist_disabled_phase_id}

microphone:
  - platform: satellite1
    sample_rate: 48000
    i2s_din_pin: GPIO15
    bits_per_sample: 32bit
    i2s_clock_mode: external
    channel: right_left
    pdm: false
    
    i2s_audio_id: i2s_shared
    channel_0:
      id: asr_mic
      amplify_shift: 6
    channel_1:
      id: comm_mic
      amplify_shift: 6

